{% extends 'base.html' %}

{% block content %}
    <div style="margin-bottom: 15px;">
        <a href="/create/" class="gs-btn">Додати завдання</a>
    </div>

    <div class="task-list">
        {% for task in tasks %}
        <div class="task-item">
            <div class="task-info">
                <b>{{ task.title }}</b>
                <div class="task-meta">
                    STATUS: <span>{{ task.status }}</span> | PRIORITY: {{ task.priority }}
                </div>
            </div>
            <a href="/update/{{ task.id }}/" class="btn-edit">ИЗМЕНИТЬ</a>
        </div>
        {% empty %}
            <div class="task-item">Задач пока нет...</div>
        {% endfor %}
    </div>
{% endblock %}
